@{
    ViewData["Title"] = "Tabulator自定義延伸功能";
}
@section Styles {
    <link href="~/lib/tabulator/css/tabulator.min.css" rel="stylesheet" />
    <style>
        .card,
        .btn-group {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        /* 編輯模式改變單元格外觀 */
        .tabulator {
            background-color: #E7E7E7 !important;
        }
    </style>
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-3">

                <div class="card-body">

                    @* === 表格區域 === *@
                    <div class="col-md-12">
                        <div id="tbSample"></div>
                    </div>

                </div>

                <!-- Modal 會由 JavaScript 生成 -->

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/tabulator/js/tabulator.min.js"></script>

    <script>
        // 設定網址
        const getTableDataUrl = '@Url.Action("TableData", "MyController")';
        const getAddDataUrl = '@Url.Action("AddData", "MyController")';
        const getEditDataUrl = '@Url.Action("EditData", "MyController")';
        const getDeleteDataUrl = '@Url.Action("DeleteData", "MyController")';
    </script>
    
    <script type="module" src="~/js/customTabulator.js"></script>
}
